:root {
    --color-iris: #4D5AE5 ;
    --color-ocean: #404BBF ;
    --color-navy-blue: #2E2F42 ;
    --color-green: #31D0AA ;
    --color-slate: #434455 ;
    --color-light-slate: #8E8F99 ;
    --color-corlnflower: #E7E9FC ;
    --color-cloud: #F4F4FD ;
    --color-navy-blue-modal: #2E2F42 ;
    --color-grey: #2E2F42 ;
    --wite: #FFFFFF ;
    --dairy: #FCFCFC ;


    /* fonts */
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
}


/*=========================BODY==========================*/

body {
    font-family: "Roboto",sans-serif;
    color: var(--color-slate);
    background-color: var(--color-wite);
}

h1,h2,h3 {
    font-family: sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

li {
    list-style-type: none;
}

.button {
    font-family: "Roboto", sans-serif;
    border: none;
    background-color: var(--color-iris);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-wite);
    cursor: pointer;
}

/*====================HEADER======================*/





/*=====================SECTION 1==================*/

/*=====================SECTION 2==================*/

/*=====================SECTION 3==================*/

/*=====================SECTION 4==================*/

/*=====================FOOTER=====================*/